<ion-view view-title="Explore Labs">
    <ion-content>
        <div ng-controller="learnCtrl">
            <div class="list" id="search">
                <div class="list list-inset" style="margin-top:8px; margin-bottom:8px;">
                    <label class="item item-input" style="height:35px;">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" ng-model="query" value="Search" id="bottom">
                    </label>
                </div>

                <script>
                    console.log("loaded");
                    console.log({
                        {
                            pdf.link.substring(5, 12)
                        }
                    })
                </script>



                <circular options="options">
                </circular>

                <ul class="list">

                    <li class="item item-checkbox">

                        <label class="checkbox checkbox-assertive">
                            <input type="checkbox" ng-model="internet"> </label>
                        Internet </li>

                    <li class="item item-checkbox">

                        <label class="checkbox checkbox-assertive">
                            <input type="checkbox" ng-model="social"> </label>
                        Social Media </li>

                    <li class="item item-checkbox">

                        <label class="checkbox checkbox-assertive">
                            <input type="checkbox" ng-model="windows"> </label>
                        Windows OS </li>
                    <li class="item item-checkbox">

                        <label class="checkbox checkbox-assertive">
                            <input type="checkbox" ng-model="windows"> </label>
                        Windows OS </li>
                    <li class="item item-checkbox">

                        <label class="checkbox checkbox-assertive">
                            <input type="checkbox" ng-model="windows"> </label>
                        Windows OS </li>
                    <li class="item item-checkbox">

                        <label class="checkbox checkbox-assertive">
                            <input type="checkbox" ng-model="windows"> </label>
                        Windows OS </li>
                </ul>
                
                <a class="item item-avatar" ng-click="openPdf({{pdf.id}})" ng-repeat="pdf in pdfs  | filter:query" ng-if="pdf.link.substring(5, 12) == 'Explore' ((internet && pdf.description == 'Internet') ||(social && pdf.description == 'Social Media') || (windows && pdf.description == 'Windows_OS'))|| (!tutorials && !tips && !explore)">

                    <!--                <img src="http://alexfine.github.io/img/Explore/Using%20Drafts.pdf" style="width:50px; height:50px;">-->

                    <img src="http://alexfine.github.io{{pdf.link}}" style="width:50px; height:50px;">
                    <h2>{{pdf.title}} </h2>
                    <p>{{pdf.description}}</p>
                </a>

            </div>
        </div>
    </ion-content>
</ion-view>