<ion-view view-title="About">
    <ion-content>
        <center>
            <img src="http://alexfine.github.io/img/icon.png" style="width:23%; padding-left:0%; height:3%; border-radius:10px; padding-top:10px;">

            <div class="card">
                <div class="item item-text-wrap" style="margin:0px; padding:0px;">
                    <div class="row">
                        <p><img src="http://alexfine.github.io/img/sponser/abc.png" style="width:10%; border-radius:5px; margin:2px;"><img src="http://alexfine.github.io/img/sponser/costco.png" style="width:15%; border-radius:5px;"><img src="http://alexfine.github.io/img/sponser/disney.png" style="width:15%; border-radius:5px; margin:2px;"><img src="http://alexfine.github.io/img/sponser/espn.png" style="width:15%; border-radius:5px; margin:2px;"><img src="http://alexfine.github.io/img/sponser/state.png" style="width:10%; border-radius:5px; margin:2px;"><img src="http://alexfine.github.io/img/sponser/ysa.png" style="width:15%; border-radius:5px; margin:2px;"><small>Sponsors</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <p><b>Our Mission: </b>To promote digital literacy and awareness across the United States.</p>
                </div>
            </div>

            <iframe style="width:100%; height: 300px;" src="https://www.youtube.com/embed/IPL8ogazQlg" frameborder="0" allowfullscreen></iframe>

            <div class="card">
                <div class="item item-text-wrap">
                    <p><b>Who we are: </b> Technocademy is a national, 501(c)(3) nonprofit dedicated to helping senior citizens and veterans learn modern technology. We have helped over 170,000 people reconnect with family and friends so far through various projects, including in-person lessons, Pocket Guides, DVDs, online tutorials, and social media campaigns. We have worked with organizations including Disney, ABC, Costco, and United Way to spread our mission.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <p><b>Our Philosophy: </b>Technocademy, Inc. is about giving back to the community and enabling our citizens to utilize the expanding modern technology to their advantage. Helping senior citizen and other potential customers to connect to loved ones and maintain contact with friends and family across the world is what Technocademy is all about.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <p><b>About the App: </b>We developed this app as a way to help <i>all</i> people learn the technology they need, whether it be iOS, Internet, social media, or anything else. This app pools together hundreds of our resources, including:
                    </p>
                    <div id="list">
                        <ul style="float:left; list-style-type: disc; list-style: none;">
                            <li>Basic Tutorials
                            </li>
                            <li>Explorations Labs (Advanced)
                            </li>
                            <li>Tips of the Week
                            </li>
                            <li>Pocket Guide
                            </li>
                            <li>Presentations
                            </li>
                            <li>...and more!
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <p><b>Our Niche: </b>All of our work focuses on intergenerational activity: we are an organization started by a high school student and maintained by a network of over 450 high school volunteers. We understand how powerful technology can be in reconnecting families and we strive to provide cutting-edge resources for free. And who better to teach people technology than those who use it <i>every single day</i>: teenagers!
                    </p>
                </div>
            </div>


            </div>
        </center>
    </ion-content>
</ion-view>