<ion-view view-title="Learn">
    <ion-content>
        <div class="list">
            <div class="list list-inset" style="margin-top:8px; margin-bottom:8px;">
                <label class="item item-input" style="height:35px;">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" ng-model="query" value="Search">
                </label>
            </div>
                 
<!--
       <button ng-click="prevPage()">&lt;</button>

<button ng-click="nextPage()">&gt;</button>
<br>
<span>{{currentPage}}/{{totalPages}}</span>
<br>
            
            <pdfviewer src="../img/PDF%20Guide%20v2.pdf" on-page-load='pageLoaded(page,total)' id="viewer"></pdfviewer>
            
      <script id="templates/search.html" type="text/ng-template">

-->
            
         

</script>

            <ul class="list">

                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Explore
                </li>

                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Tips
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Tutorials
                </li>

            </ul>
<!--        <a ng-click="showPopup()">Hello</a>-->
            <a class="item item-avatar" href="#/app/search/{{$index}}" ng-click="showPopup()" ng-repeat="pdf in pdfs | filter:query;">
                <img src="{{pdf.link}}" style="width:50px; height:50px;">
                <h2>{{pdf.title}} + {{$index}}</h2>
                <p>{{pdf.description}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>