<ion-view view-title="Home">
    <ion-content class="background">
        <div id="scrollArea">
            <div style="padding-top:30%;">
                <div class="row" style="padding-left:8%;">
                    <div style="width:35%;">
                        <a href="#/app/tips">
                            <button class="button semi-transparent-button" style="margin:1%; border-radius:100px; height:100px;">
                                <p style="line-height:6px;"><i class="ion-ios-lightbulb-outline" style="font-size: 40px;"></i><br><small style="font-size:12px">Tips</small></p>
                            </button>
                        </a>
                    </div>
                    <div style="width:35%;">
                        <a ng-click="openPdf(0)">
                            <button class="button  semi-transparent-button" style="margin:1%; border-radius:100px; height:100px;">
                                <p style="line-height: 1px;"><i class="ion-ios-paper-outline" style="font-size: 40px;"></i><br>
                                <small style="font-size:12px; line-height:15px;">Pocket<br> Guide</small></p>
                            </button>
                        </a>
                    </div>
                    <div style="width:35%;">
                        <a href="#/app/tutorials">
                            <button class="button  semi-transparent-button" style="margin:1%; border-radius:100px; height:100px;">
                               <p style="line-height: 1px;"><i class="ion-ios-folder-outline" style="font-size: 40px;"></i><br>
                                <small style="font-size:12px">Tutorials</small></p> 
                            </button>
                        </a>
                    </div>
                </div>
                <div class="row" style="padding-left:8%; margin-top:3%;">
                    <div style="width:35%;">
                        <a href="#/app/exploreLabs">
                            <button class="button  semi-transparent-button" style="margin:1%; border-radius:100px; height:100px;">
                               <p style="line-height: 1px;"><i class="ion-ios-world-outline" style="font-size: 40px;"></i><br>
                                <small style="font-size:12px; line-height: 15px;">Explore <br> Labs</small></p>  
                            </button>
                        </a>
                    </div>
                    <div style="width:35%;">
                        <a ng-click="modal.show()">
                            <button class="button  semi-transparent-button" style="margin:1%; border-radius:100px; height:100px;">
                                <p style="line-height: 1px;"><i class="ion-ios-search" style="font-size: 40px;"></i><br>
                                <small style="font-size:12px">Search</small></p>  
                            </button>
                        </a>
                    </div>
                    <div style="width:35%;">
                        <a href="#/app/home">
                            <button class="button  semi-transparent-button" style="margin:1%; border-radius:100px; height:100px;">
                                <p style="line-height: 1px;"><i class="ion-information-circled" style="font-size: 40px;"></i><br>
                                <small style="font-size:12px">About</small></p>  
                            </button>
                        </a>
                    </div>
                </div>
            </div>


        </div>
        <script id="my-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">Search</h1>
                    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span>
                    </div>
                </ion-header-bar>
                <ion-content>
                    <div class="list">
                        <div class="list list-inset" style="margin-top:8px; margin-bottom:8px;">
                            <label class="item item-input" style="height:35px;">
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="search" ng-model="query" value="Search" id="bottom">
                            </label>
                        </div>
                        <ul class="list">
                            
                            <li class="item item-checkbox">
                                
                                <label class="checkbox checkbox-assertive">
                                    
                                    <input type="checkbox" ng-model="explore">  </label>
                                 Explore  </li>
                            
                            <li class="item item-checkbox">
                                
                                <label class="checkbox checkbox-assertive">
                                    
                                    <input type="checkbox" ng-model="tips">  </label>
                                Tips  </li>
                            
                            <li class="item item-checkbox">
                                
                                <label class="checkbox checkbox-assertive">
                                    
                                    <input type="checkbox" ng-model="tutorials"> </label>
                                 Tutorials  </li>
                             </ul>

                        <a class="item item-avatar" ng-click="openPdf({{pdf.id}})" ng-repeat="pdf in pdfs  | filter:query" ng-if="((tutorials && pdf.description == 'Tutorial') ||(explore && pdf.description == 'Explore') || (tips && pdf.description == 'Tips'))|| (!tutorials && !tips && !explore) && query.length > 2">

                            <!--                <img src="http://alexfine.github.io/img/Explore/Using%20Drafts.pdf" style="width:50px; height:50px;">-->

                            <img src="http://alexfine.github.io{{pdf.link}}" style="width:50px; height:50px;">
                            <h2>{{pdf.title}} </h2>
                            <p>{{pdf.description}}</p>
                        </a>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>

    </ion-content>
</ion-view>