body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.semi-transparent-button {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 80%;
    max-width: 200px;
    background: #fff;
    text-decoration: none;
    /* fallback color for old browsers */
    
    background: rgba(30, 52, 142, 0.5);
    border-radius: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
    /*border: 1px solid #fff;*/
}

.semi-transparent-button:focus,
.semi-transparent-button:active {
    background: #fff;
    color: #000;
    transition: all 0.5s ease-in;
}

a {
    text-decoration: none;
}

#scrollArea {
    height: 100%;
    overflow: auto;
}

#bottom {
    display: block;
    /*  margin-top: 2000px;*/
}

#list {
    font-size: 15px;
    line-height: 70%;
    margin: 30px auto;
    margin-left: 30px;
}

#list ul {}

#list ul li {
    text-align: left;
    list-style: disc;
    margin: 10px 0px;
}

.background {
    background: url('../img/background.png')  no-repeat center;
   background-size:cover;
}